.banner {
    background-color: var(--azul-escuro-texto);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1.2rem 1rem 3rem 1rem;
}

.banner__container-imagem {
    background-image: url(../img/Imagem\ Hero\ Mobile.svg);
    width: 312px;
    height: 439px;
}

.banner__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.banner__titulo {
    font-family: "Orbitron", sans-serif;
    color: var(--titulo-banner-cor1);    
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    padding: 0 3rem;
}

.banner__titulo span {
    color: var(--titulo-banner-cor2);
}

.banner__botao {
    background-color: var(--bg-botao-banner);
    color: #FFFFFF;
    font-weight: bold;
    padding: 1rem;
    width: 80%;
    border-radius: 50px;
    font-family: "Poppins", sans-serif;
}


@media (min-width: 768px) {
    .banner__container-imagem {
        background-image: url(../img/banner.png);
        width: 692px;
        height: 480px;
    }

    .banner__titulo {
        padding: 0 8rem;
    }

    .banner__botao {
        width: 30%;
    }
}

@media (min-width: 1024px) {
    .banner {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 3rem;
    }

    .banner__container-imagem {
        background-size: cover;
        background-position: center;
        width: 40%;
        height: 400px;
    }
    
    .banner__container {
        align-items: flex-start;
        gap: 3rem;
        width: 40%;
        gap: 1rem;
    }

    .banner__titulo {
        font-size: 3.8rem;
        text-align: left;
        padding: 0 1rem 0 0;
        line-height: 1.2;
    }

    .banner__botao {
        width: 50%;
        padding: 0.5rem;
    }
}
