.cabecalho {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1.5rem;
    margin: 1rem 0;
    font-family: "Poppins", sans-serif;
}

.container__cabecalho-pt1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.caintainer__desktop {
    display: none;
}

.cabecalho__botao-sobre-nos {
    font-size: 1.2rem;
    color: var(--azul-escuro-texto);
}

.cabecalho__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1rem;
}

.nav__botao-login {
    display: none;
    font-size: 1.2rem;
    color: var(--azul-escuro-texto);
}

.cabecalho__barra-pesquisa {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-fundo-pesquisa);
    width: 80%;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 50px;
}

.barra-pesquisa__campo {
    background-color: var(--cor-fundo-pesquisa);
    border: none;
}

.barra-pesquisa__campo::placeholder {
    color: var(--azul-escuro-texto);
}

.botao-pesquisa {
    background-image: url(../img/search.svg);
    width: 24px;
    height: 29px;
    background-repeat: no-repeat;
    background-position: center;
}


@media (min-width: 768px) {
    .cabecalho__menu-mobile {
        display: none;
    }

    .container__cabecalho-pt1 {
        justify-content: space-evenly;
        padding: 0 5rem;
    }

    .caintainer__desktop {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        column-gap: 3rem;
        width: 60%;
    }

    .cabecalho__barra-pesquisa-desktop {
        display: none;
    }

    .cabecalho__nav {
        justify-content: space-evenly;
        column-gap: 2rem;
    }

    .nav__botao-login {
        display: block;
    }

    .cabecalho__barra-pesquisa {
        justify-content: space-between;
        padding: 1rem 1.5rem;
        font-size: 1.2rem;
    }
}

@media (min-width: 1024px) {

    .container__cabecalho-pt1 {
        width: 80%;
        margin: 0 auto;
        justify-content: space-between;
    }

    
    .cabecalho__barra-pesquisa-desktop {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: var(--cor-fundo-pesquisa);
        padding: 0.3rem 1rem;
        border-radius: 50px;
        width: 70%;
    }

    .cabecalho__barra-pesquisa {
        display: none;
    }

}