.cabecalho {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1.5rem;
    margin: 1rem 0;
}

.container__cabecalho-pt1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.cabecalho__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1rem;
}

.cabecalho__barra-pesquisa {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-fundo-pesquisa);
    width: 80%;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 50px;
}

.barra-pesquisa__campo {
    background-color: var(--cor-fundo-pesquisa);
}

.barra-pesquisa__campo::placeholder {
    color: var(--azul-escuro-texto);
}

.botao-pesquisa {
    background-image: url(../img/search.svg);
    width: 24px;
    height: 29px;
    background-repeat: no-repeat;
    background-position: center;
}